body {
  font-family: 'Funnel Sans', sans-serif;
  margin: 0;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: DarkSlateGray
}

h1 {
  font-family: 'Funnel Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: DarkSlateGreen
}

a {
  padding: 1rem 1rem 1rem 2rem;
  font-family: 'Funnel Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: DarkSlateGreen
}

a:link {
  color: DarkSlateBlue;
}

a:visited {
  color: Indigo;
}

a:hover {
  color: MediumSlateBlue;
}

a:active {
  color: blue;
}

div {
  box-sizing: border-box;
  margin: 0rem;
  background-color: DarkSeaGreen;
  border: 1rem solid ;
  height: 100vh;
  padding: 3.5rem 1.25rem 0rem 6rem;
}
